[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-twitter = "*"
"beautifulsoup4" = "*"
"Mastodon.py" = "*"
ipdb = "*"
django-environ = "~=0.4.4"
"flake8" = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.6"
